/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.main_content > .container {
  padding-top:2em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #4c7e56;
  color: #fff;
  padding: .7em;
  letter-spacing: 1px;
  font-weight: lighter;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.navbar.navbar-default {
  min-height: 25px;
  margin-bottom: 0px;
  li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.header {
  background-color: #4c7e56;
  h1 {
    margin: 15px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 1.6em;
    text-transform: uppercase;
    padding-top:2px;
  }
}

form .row {
  margin-bottom: 1em;
}